h1,h2,p {
    text-align: center;
}
h2,h2 {
    font-family: Impact,'Fredoka', sans-serif;
}
h1{
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    /* font-family: 'Quicksand',cursive; */
}
.fas fa-mug-hot{
    display:block;
    margin-left: auto;
    margin-right: auto;
}
h2{
    font-size: 30px;
}
hr{
    height:2px;
    background-color: #773e13;
    border-color:#773e13;
}
body {
    background-image: url("coffee beans, cat.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: fixed;;
    font-family: 'Fredoka', sans-serif;
    padding:30px;backdrop-filter: blur(2px);
}
.established {
    font-style: italic;
}
.menu {
    width: 80%;
    max-width: 500px;
    background-color: blanchedalmond;
    margin-left: auto;
    margin-right: auto;
    padding:20px;
}
.flavor,.dessert {
    text-align: left;
    width:75%;
}
.price{
    text-align: right;
    width:25%;
}
.item p{
    display:inline-block;
    margin-top:5px;
    margin-bottom:5px;
    font-size: 18px;
}
.bottom-line {
    margin-top:25px;
}
.address{
    margin-bottom:5px;
}
footer {
    font-size: 14px;
}
footer a{
    color:black;
}
footer a:visited{
    color:black;
}
footer a:hover{
    color:brown;
}
footer a:active {
    color:brown;
}
